.nav{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.nav__item{
  transform: skewX(-20deg);
  padding: 0 0px;
}

.nav__link{
  transform: skewX(+20deg);
  padding: 0 20px;
  color: #f6303e!important;
  font-size: 20px;
  font-weight: bold;
}
